<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <h4>New here?</h4>
        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
        <form class="pt-3" [formGroup]="registerForm" (ngSubmit)="postData(registerForm)">
          <div class="form-group">
            <input type="text" formControlName="userName" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
            <span class="text-danger"
              *ngIf="(formControl.userName.touched || submitted) && formControl.userName.errors?.required">
              UserName is required
            </span>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
            <span class="text-danger"
              *ngIf="(formControl.email.touched || submitted) && formControl.email.errors?.required">
              Email is required
            </span>
            <span class="text-danger" *ngIf="formControl.email.touched && formControl.email.errors?.email">
              Enter a valid email address
            </span>
          </div>
          <div class="form-group">
            <select class="form-control form-control-lg" id="exampleFormControlSelect2" formControlName="country">
              <option>Country</option>
              <option>United States of America</option>
              <option>United Kingdom</option>
              <option>India</option>
              <option>Germany</option>
              <option>Argentina</option>
            </select>
            <span class="text-danger"
              *ngIf="(formControl.country.touched || submitted) && formControl.country.errors?.required">
              Select Country
            </span>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
            <span class="text-danger"
              *ngIf="(formControl.password.touched || submitted) && formControl.password.errors?.required">
              Password is required
            </span>
          </div>
          <div class="mb-4">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                I agree to all Terms & Conditions
              </label>
            </div>
          </div>
          <div class="mt-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" [disabled]="!registerForm.valid" (click)="navigateToDashboard()">SIGN UP</button>
          </div>
          <div class="text-center mt-4 font-weight-light">
            Already have an account? <a (click)="navigateToLogin()" class="text-primary">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>